snippet co "console.log"
console.log('===$1', $1)
endsnippet

snippet fm "fmt.Println"
fmt.Println("===$1", $1)
endsnippet

snippet jour "日记"
Life:
1. $1

Work：
1.

Idea:
1.

Learn:
1.

Plan:
1.
endsnippet
